.BackgroundContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    place-items: center;
    justify-content: center;

    background: black url("/background.jpg") no-repeat fixed center;
    background-size: cover;

    .GameContainer {
        border: 1px solid #FFE81F;
        width: 90%;
        height: 90vh;
        text-align: center;
        background-color: rgba($color: #000000, $alpha: 0.7);
        overflow: hidden;
        padding: 0px 2rem;
        box-sizing: border-box;
    }
}

@media (min-width:801px)  {
    .BackgroundContainer {
        .GameContainer {
            max-height: 60vh;
            max-width: 60%;
            box-shadow: 0px 0px 105px 20px rgba(255,213,46,0.21);

            h1 {
                font-size: 1.7rem;
            }
        }
    }
}

@media (min-width:1280px)  {
    .BackgroundContainer {
        .GameContainer {
            h1 {
                font-size: 2rem;
            }
        }
    }
}