.Button {
    border: 1px solid #FFE81F;
    padding: 1rem 2.5rem;
    background-color: black;
    border-radius: 9999px;
    color: #FFE81F;
    font-size: 1.2rem;

    &:hover {
        cursor: pointer;
    }

    &.size-small {
        font-size: 0.85rem;
        padding: 1rem 1.5rem;
    }
}